<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:batch="http://www.springframework.org/schema/batch"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/batch http://www.springframework.org/schema/batch/spring-batch.xsd http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config />
    <context:component-scan base-package="com.springapp" />

    <bean id="jobRepository" class="org.springframework.batch.core.repository.support.MapJobRepositoryFactoryBean">
        <property name="transactionManager" ref="transactionManager" />
    </bean>

    <bean id="transactionManager" class="org.springframework.batch.support.transaction.ResourcelessTransactionManager" />

    <bean id="jobLauncher" class="org.springframework.batch.core.launch.support.SimpleJobLauncher">
        <property name="jobRepository" ref="jobRepository" />
    </bean>

    <bean name="bookEntryReader" class="org.springframework.batch.item.file.FlatFileItemReader">
        <property name="resource" value="classpath:AddressBook" />
        <property name="lineMapper" ref="lineMapper" />
    </bean>

    <bean id="maleCounterWriter" class="com.springapp.batch.writer.MaleCounterWriter" />
    <bean id="oldestPersonWriter" class="com.springapp.batch.writer.OldestPersonWriter" />

    <batch:job id="mainJob">
        <batch:step id="maleCounter" next="oldestPerson">
            <batch:tasklet>
                <batch:chunk reader="bookEntryReader" writer="maleCounterWriter" commit-interval="10"/>
            </batch:tasklet>
        </batch:step>
        <batch:step id="oldestPerson">
            <batch:tasklet>
                <batch:chunk reader="bookEntryReader" writer="oldestPersonWriter" commit-interval="10"/>
            </batch:tasklet>
        </batch:step>
    </batch:job>

</beans>